.dark {
  --md-sys-color-primary: rgb(141 206 252);
  --md-sys-color-surface-tint: rgb(141 206 252);
  --md-sys-color-on-primary: rgb(0 52 77);
  --md-sys-color-primary-container: rgb(0 92 133);
  --md-sys-color-on-primary-container: rgb(151 211 255);
  --md-sys-color-secondary: rgb(178 201 222);
  --md-sys-color-on-secondary: rgb(28 51 67);
  --md-sys-color-secondary-container: rgb(53 76 92);
  --md-sys-color-on-secondary-container: rgb(164 187 207);
  --md-sys-color-tertiary: rgb(230 181 249);
  --md-sys-color-on-tertiary: rgb(70 31 88);
  --md-sys-color-tertiary-container: rgb(111 70 129);
  --md-sys-color-on-tertiary-container: rgb(236 186 254);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 20 22);
  --md-sys-color-on-background: rgb(225 226 230);
  --md-sys-color-surface: rgb(17 20 22);
  --md-sys-color-on-surface: rgb(225 226 230);
  --md-sys-color-surface-variant: rgb(64 72 78);
  --md-sys-color-on-surface-variant: rgb(192 199 207);
  --md-sys-color-outline: rgb(138 146 153);
  --md-sys-color-outline-variant: rgb(64 72 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 230);
  --md-sys-color-inverse-on-surface: rgb(46 49 52);
  --md-sys-color-inverse-primary: rgb(21 100 142);
  --md-sys-color-primary-fixed: rgb(201 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 47);
  --md-sys-color-primary-fixed-dim: rgb(141 206 252);
  --md-sys-color-on-primary-fixed-variant: rgb(0 76 110);
  --md-sys-color-secondary-fixed: rgb(205 230 250);
  --md-sys-color-on-secondary-fixed: rgb(4 30 45);
  --md-sys-color-secondary-fixed-dim: rgb(178 201 222);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 73 90);
  --md-sys-color-tertiary-fixed: rgb(247 216 255);
  --md-sys-color-on-tertiary-fixed: rgb(47 6 65);
  --md-sys-color-tertiary-fixed-dim: rgb(230 181 249);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 54 112);
  --md-sys-color-surface-dim: rgb(17 20 22);
  --md-sys-color-surface-bright: rgb(54 57 61);
  --md-sys-color-surface-container-lowest: rgb(11 15 17);
  --md-sys-color-surface-container-low: rgb(25 28 31);
  --md-sys-color-surface-container: rgb(29 32 35);
  --md-sys-color-surface-container-high: rgb(39 42 45);
  --md-sys-color-surface-container-highest: rgb(50 53 56);
}
